python_version >= '3.11.0'
udapi @ git+https://github.com/udapi/udapi-python.git@a43cd21f962a72e4f5e6f5dc40c5d35393669107
ufal.morphodita>=1.11.2.1
fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9 # TODO: check if required
pandas==2.2.3